.row:after {
	content: "";
	display: table;
	clear: both;
}
.columnL {
	float: left;
	width: 20%;
	padding-right: 2px;
}
.columnR {
	float: left;
	width: 20%;
	padding-left: 2px;
}
.columnM {
	float: left;
	width: 20%;
	padding-left: 2px;
	padding-right: 2px;
}
.modal {
	display: none;
	position: fixed;
	z-index: 1000;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
}
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	width: 90%;
	max-width: 1200px;
}
.galerie{
	cursor: pointer;
	width:100%;
}
.close {
	color: grey;
	position: absolute;
	top: 50px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
	text-decoration: none;
}
.close:hover,
.close:focus {
	color: red;
	text-decoration: none;
	cursor: pointer;
}
.mySlides {
	display: none;
}
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	user-select: none;
	-webkit-user-select: none;
}
.next {
	right: 0;
}
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
.caption-container {
	text-align: center;
	background-color: black;
	padding: 2px 16px;
	color: white;
}
img.demo {
	opacity: 0.6;
}
.active,
.demo:hover {
	opacity: 1;
}
img.hover-shadow {
	transition: 0.3s;
}
.hover-shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
				0 6px 20px 0 rgba(0, 0, 0, 0.19);
}